{#- Слайдеры -#}
<section id="main-slider" class="carousel">
    
        <div class="carousel-inner">
            {#- 1 - Слайдер  главный активный -#}
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Лицензия SHCMS Engine</h1>
                        <p class="lead">Система SHCMS Engine - Без каких либо лицензии, можно скачивать и строить сайты на любую тематику,<br/> 
						Если возникнут вопросы прошу обращаться на Оффициальный сайт там помогут вам.</p>
                    </div>
                </div>
            </div>
            {#- 2 - Слайдер -#}
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Помощь в Развитие</h1>
                        <p class="lead">Если у вас есть новые идеи для SHCMS Engine, то Создайте на форуме оффициального сайта тему и там опубликуйте идею вашу,
						мы обязательно рассмотрим его и примим меры.</p>
                    </div>
                </div>
            </div>
            {#- 3 - Слайдер -#}
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Ошибки в Системе</h1>
                        <p class="lead">Если вы на системе SHCMS Engine нашли хоть какую либо ошибку(баг) то большая просьба сообщить о об этом на оффициальном сайте.</p>
                    </div>
                </div>
            </div>	
        </div>
        {#- Переходы -#}    
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
        
</section>