{#- Основная навигация -#}        
<ul class="nav navbar-nav pull-left">
    <li><a href="/"><i class="icon-home"></i></a></li>
    <li><a href="/modules/chat/">Общение</a></li>
    <li><a href="/modules/news/">Новости</a></li>
    <li><a href="/modules/forum/">Форум</a></li>
    <li><a href="/modules/download/">Загрузки</a></li>
    <li><a href="/modules/gallery/">Альбомы</a></li>
</ul> 