<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:site_name" content="{{site_name}}"/>
<meta name="description" content="{{description}}" />        
<meta name="keywords" content="{{keywords}}" />    

    <title>{{title}}</title>
        <link rel="shortcut icon" href="/favicon.ico" />
	<link href="/engine/template/module/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/engine/template/module/bootstrap/css/bootstrap-theme.css" rel="stylesheet" media="screen">  
        <link href="/admin/skins/lib/bootstrap/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
        <link href="/engine/template/module/bootstrap/css/bootstrap-formhelpers.css" rel="stylesheet" media="screen">
        <link href="/engine/template/module/bootstrap/css/widget.css" rel="stylesheet" media="screen">
        <link href="/engine/template/module/bootstrap/css/shtables.css" rel="stylesheet" media="screen">
        <link href="/engine/template/module/bootstrap/css/bootstrap.lightbox.css" rel="stylesheet" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
	<link href="/engine/template/module/editor/theme/default/wbbtheme.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/templates/wap_default/css/font-awesome.min.css" type="text/css" />
	<link rel="stylesheet" href="/templates/wap_default/css/prettyPhoto.css" type="text/css" />
	<link rel="stylesheet" href="/templates/wap_default/css/main.css" type="text/css" />
	<link rel="stylesheet" href="/templates/wap_default/style.css" type="text/css" />
                <style type="text/css">
    .row-padding {
    margin-top: 25px;
    margin-bottom: 25px;
}
    </style>
        <script src="/engine/template/module/editor/jquery-1.11.0.js"></script>
        <script src="/engine/template/module/bootstrap/js/bootstrap.min.js"></script>
        
            
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    
