<!DOCTYPE html>
	
<html lang="ru" >
    
<head>
     {% include 'block.twig' %}
</head> 

<body>
	
    <!--Название страниц-->
	<div id="title">
	    <div id="page_t">{{title}}</div>
	</div>


	<div id="layot"> 	
        <div id="page">
                 {% include 'nav.twig' %}

 <div style="margin:8px;"></div>
